# Week 13 Supervised Learning

# Warm-up

What is the difference between supervised and unsupervised learning?

What kind of problems can you solve with supervised learning?

    Identifying spam?

    Recommending products?

    Putting customers in segments?

    Identifying fraudulent transactions?

    Image recognition?

    Others?

In [1]:
# Dependencies and modules:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import seaborn as sns
sns.set_theme(style="whitegrid")
import statistics
import math
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

#crime_data.csv file:

crime_data_path = "C:/Users/Nik/Documents/crime_data.csv"
crime_data_df = pd.read_csv(crime_data_path)


#diabetes.csv file:

diabetes_path = "C:/Users/Nik/Documents/diabetes.csv"
diabetes_df = pd.read_csv(diabetes_path)
diabetes_df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [3]:
#crime_data.csv file:

crime_data_path = "C:/Users/Nik/Documents/crime_data.csv"
crime_data_df = pd.read_csv(crime_data_path)
crime_data_df.head()

    X1   X2  X3  X4  X5  X6  X7
0  478  184  40  74  11  31  20
1  494  213  32  72  11  43  18
2  643  347  57  70  18  16  16
3  341  565  31  71  11  25  19
4  773  327  67  72   9  29  24

In [4]:
#diabetes.csv file:

diabetes_path = "C:/Users/Nik/Documents/diabetes.csv"
diabetes_df = pd.read_csv(diabetes_path)
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# Week 13

# Univariate Linear Regression

The data (X1, X2, X3, X4, X5, X6, X7)

In [2]:
crime_df = crime_df[['X1', 'X3']]
columns = ['crime_rate_mil', 'police_funding']

x = np.array(crime_df['police_funding']).reshape(-1,1)
y = np.array(crime_df['crime_rate_mil']).reshape(-1,1)

X_train, x_test, y_train, y_test = train_test_split(X,y test_size=0.3)

SyntaxError: invalid syntax (Temp/ipykernel_7600/700523454.py, line 7)

# KNN

In [7]:
diabetes_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0